*{
    margin: 0;
    padding: 0;
}

#img-map-container{
    display: flex;
    justify-content: center;
}

.sections-info{
    position: absolute;
    top: 50%;
    right: 20%;
}

.card-info{
    display: none;
}
